<launch>
    <!-- Include Franka Control Launch File -->
    <include file="$(find panda_moveit_config)/launch/franka_control.launch" pass_all_args="true">
        <arg name="robot_ip" value="192.168.1.55"/>
    </include>
    
    

   <!-- Include Franka Control Launch File -->
    <include file="$(find irobm_control)/launch/irobm_control.launch" pass_all_args="true"/>

    <!-- Include Point Cloud Handler and camera -->
      <include file="$(find irobm_perception)/launch/pc_handler.launch" pass_all_args="true"/>

</launch>