<launch>
    <!-- Include Franka Control Launch File -->
    <include file="$(find panda_moveit_config)/launch/franka_control.launch" pass_all_args="true">
        <arg name="robot_ip" value="192.168.1.35"/>
    </include>


     <!-- Include Camera -->
  <include file="$(find zed_wrapper)/launch/zed2.launch"/>

  <node pkg="tf" type="static_transform_publisher" name="camera_link_broadcaster"
          args="-0.097397 0 0.0274111 0 -0.824473 0 panda_hand zed2_left_camera 100" />

   <!-- Include Franka Control Launch File -->
    <include file="$(find irobm_control)/launch/irobm_control.launch" pass_all_args="true"/>

</launch>