<?xml version="1.0"?>
<launch>

    <include file="$(find franka_zed_gazebo)/launch/gazebo_panda.launch">
     <arg name="rviz" value="true"/>
    </include>
    <!-- Include Camera -->
    <include file="$(find zed_wrapper)/launch/zed2.launch"/>

    <node pkg="tf" type="static_transform_publisher" name="camera_link_broadcaster"
            args="-0.097397 0 0.0274111 0 -0.824473 0 panda_hand zed2_camera_center 50" />


    <node pkg="tf" type="static_transform_publisher" name="map_world_broadcaster"
            args="0 0 0 0 0 0 world map 50" />
</launch>