<launch>

     <!-- Include Camera -->
  <include file="$(find zed_wrapper)/launch/zed2.launch"/>

    
  <node pkg="tf" type="static_transform_publisher" name="camera_link_broadcaster"
            args="-0.097397 -0.06 0.02724111  0 -0.824473 3.14159 panda_hand zed2_left_camera_frame 100" />

</launch>
