<launch>

     <!-- Include Camera -->
  
   <include file="$(find irobm_perception)/launch/zed2.launch"/>
  <node pkg="tf" type="static_transform_publisher" name="camera_link_broadcaster"
            args="-0.11 0.056 0.035  0 -1.35 0 panda_hand zed2_left_camera_frame 100" />

   <!-- args="-0.11 0.056 0.035  0 -1.35 3.14 panda_hand zed2_left_camera_frame 100"  -->
</launch>
